main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 500px;
    height: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    font-size: 72px;
    text-align: center;
}